{% extends "recipe/base.html" %}
{% load static %}
{% block title %}Wishlist Summary{% endblock %}
{% block content %}


<main class="pt-5">
  <div class="container">
    <h1 class="h5">Start Cooking one of these recipes!</h1>
    {% for item in wishlist %}
    {% with recipe=item.recipe%}
    <div data-index="{{recipe.id}}" class="row mb-4 border recipe-item">
      <div class="col-md-3 col-lg-2 order-md-first bg-light">
        <img class="img-fluid mx-auto d-block" width="120px" alt="Responsive image" src="{{ recipe.image.url }}">
      </div>
      <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
        <a href="{{ recipe.get_absolute_url }}" class="text-decoration-none text-reset">
          <h1 class="h5 pt-2">{{ recipe.title }}</h1>
        </a>
        <div class="border">
          <div class="col border-bottom">
            <div class="row p-3">
              {{ recipe.description }}
            </div>
          </div>
          <div class="col">
            <div class="row p-3">
              <div class="col-12">
                {% comment %} <button type="button" id="update-button" data-index="{{recipe.id}}"
                  class="btn btn-outline-secondary btn-sm update-button">
                  Update
                </button> {% endcomment %}
                <button type="button" id="delete-button" data-index = "{{recipe.id}}" 
                  class="btn btn-outline-secondary btn-sm delete-button">
                  Remove from Wishlist
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endwith %}
    {% endfor %}
  </div>
</main>

<script>
  $(document).on('click', '.delete-button', function (e) {
    e.preventDefault();
    var recipeid = $(this).data('index');
    $.ajax({
      type: 'POST',
      url: '{% url "wishlist:wishlist_delete" %}',
      data: {
        recipeId: $(this).data('index'),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'POST'
      },
      success: function (json) {
        console.log(recipeid)
        $('.recipe-item[data-index="' + recipeid + '"]').remove();
        document.getElementById("wishlist-qty").innerHTML = json.qty
      },
      error: function (xhr, errmsg, err) {}
    });
  })

   // Update Item
  {% comment %} $(document).on('click', '.update-button', function (e) {
    e.preventDefault();
    var recipeid = $(this).data('index');
    $.ajax({
      type: 'POST',
      url: '{% url "wishlist:wishlist_update" %}',
      data: {
        recipeId: $(this).data('index'),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {
        document.getElementById("wishlist-qty").innerHTML = json.qty
      },
      error: function (xhr, errmsg, err) {}
    });
  }) {% endcomment %}
</script>


 {% comment %} document.getElementById("wishlist-qty").innerHTML = json.qty {% endcomment %}

{% endblock %}